.link {
  position: fixed;
  left: 70px;
  bottom: 15px;
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(241, 208, 164);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
  z-index: 99;
}

.link span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}

.link h4,
.link h5 {
  margin: 0;
  display: flex;
}
